In [14]:

import pymysql
import pandas as pd

In [15]:
conn= pymysql.connect(host='localhost', user='root', password='691209', db='sakila', charset='utf8')

In [16]:
cur= conn.cursor()
cur.execute('select * from language')
rows=cur.fetchall()
print(rows)
language_df=pd.DataFrame(rows)
print(language_df)

cur.close()
conn.close()

((1, 'English', datetime.datetime(2006, 2, 15, 5, 2, 19)), (2, 'Italian', datetime.datetime(2006, 2, 15, 5, 2, 19)), (3, 'Japanese', datetime.datetime(2006, 2, 15, 5, 2, 19)), (4, 'Mandarin', datetime.datetime(2006, 2, 15, 5, 2, 19)), (5, 'French', datetime.datetime(2006, 2, 15, 5, 2, 19)), (6, 'German', datetime.datetime(2006, 2, 15, 5, 2, 19)))
   0         1                   2
0  1   English 2006-02-15 05:02:19
1  2   Italian 2006-02-15 05:02:19
2  3  Japanese 2006-02-15 05:02:19
3  4  Mandarin 2006-02-15 05:02:19
4  5    French 2006-02-15 05:02:19
5  6    German 2006-02-15 05:02:19

In [18]:
import pymysql
conn= pymysql.connect(host='localhost', user='root', password='691209', db='sakila', charset='utf8')

cur=conn.cursor()
query="""
select c.email
from customer as c
inner join rental as r
on c.customer_id = r.customer_id
where date(r.rental_date)=(%s)"""

cur.execute(query, ('2005-06-14'))
rows=cur.fetchall()
for row in rows:
    print(row)
cur.close()
conn.close()

('CATHERINE.CAMPBELL@sakilacustomer.org',)
('JOYCE.EDWARDS@sakilacustomer.org',)
('AMBER.DIXON@sakilacustomer.org',)
('JEANETTE.GREENE@sakilacustomer.org',)
('MINNIE.ROMERO@sakilacustomer.org',)
('GWENDOLYN.MAY@sakilacustomer.org',)
('SONIA.GREGORY@sakilacustomer.org',)
('MIRIAM.MCKINNEY@sakilacustomer.org',)
('CHARLES.KOWALSKI@sakilacustomer.org',)
('DANIEL.CABRAL@sakilacustomer.org',)
('MATTHEW.MAHAN@sakilacustomer.org',)
('JEFFERY.PINSON@sakilacustomer.org',)
('HERMAN.DEVORE@sakilacustomer.org',)
('ELMER.NOE@sakilacustomer.org',)
('TERRANCE.ROUSH@sakilacustomer.org',)
('TERRENCE.GUNDERSON@sakilacustomer.org',)

In [ ]:
curs=conn.cursor()

sql="""insert ito customer(name, category, region)
values (%s, %s, %s)"""
cur